

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 border p-lg-3 text-center m-2 ml-5 border-dark">
            <span class="d-block h5">400</span>
            <span class="d-block">Apps per user</span>
        </div>
        <div class="col-lg-2 border p-lg-3 text-center m-2 border-dark">
            <span class="d-block h5">400</span>
            <span class="d-block">Apps per user</span>
        </div>
        <div class="col-lg-2 border p-lg-3 text-center m-2 border-dark">
            <span class="d-block h5">400</span>
            <span class="d-block">Apps per user</span>
        </div>
        <div class="col-lg-2 border p-lg-3 text-center m-2 border-dark">
            <span class="d-block h5">400</span>
            <span class="d-block">Apps per user</span>
        </div>
        <div class="col-lg-2 border p-lg-3 text-center m-2 border-dark">
            <span class="d-block h5">400</span>
            <span class="d-block">Apps per user</span>
        </div>
    </div>
</div>
<div>
    <h4></h4>
</div>

<h4  class="text-center mt-5">This Page will be continue....</h4>

<h4 class="text-center mt-5">Check <span class="text-danger h1">Create new Job </span> page link its working fine</h4>
<h4 class="text-center mt-5">Also <span class="text-danger h1">Jobs</span> link is working. Employer can show created Job</h4>