
<div class=" container-fluid bg-light mt-4 text-center h5 p-3">
    Tell us about yourself
</div>
<div class="container">
    <div class="row">
        <div class=" offset-lg-4 col-lg-2 col-12">
            <div class="display-1 p-4">
                <i class="far fa-user"></i>
            </div>
            <div>
                <a href="/sign-up-candidate" class="btn btn-outline-info font-weight-bold p-2">I am a Candidate</a>
            </div>
        </div>
        <div class="col-lg-2 col-12">
            <div class="display-1 p-4">
                <i class="far fa-user"></i>
            </div>
           <div>
                <a href="/sign-up-client" class="btn btn-outline-info font-weight-bold p-2">I am a Recuiter</a>
           </div>
        </div>
    </div>
</div>