.cand-profile{
    .cand-l-info{
        width: 18%;
        .cand-img{
            width: 100%;
            height: 230px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .cand-sal{

        }
    }
    .cand-mid-info{
        width: 55%;
    
    }
    .can-r-info{
        width: 20%;
    }
}